@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  background: #000000;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #18d26e;
  transition: 0.5s;
}

.container-btn {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#btn-neon {
  position: relative;
  background-color: white;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
}

#btn-neon:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

#btn-neon::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #000000;
}

#btn-neon span { 
  position: relative;
  z-index: 1;
}

#btn-neon i { 
  position: absolute;
  inset: 0;
  display: block;
}

#btn-neon i::before { 
  position: absolute;
  content: '';
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #000;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

#btn-neon:hover i::before { 
  width: 20px;
  left: 20%;
}

#btn-neon i::after { 
  position: absolute;
  content: '';
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #000;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

#btn-neon:hover i::after { 
  width: 20px;
  left: 80%;
}

/* ESTILO DE BOTON GLASS

.container-btn .btn-glass {
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px;
}

.container-btn .btn-glass a {
position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background: rgba(255, 255, 255, 0);
 box-shadow: 0px 15px 35px rgba(0, 0, 0, 0);
 border-top: 1px solid rgba(0, 0, 0, 0);
 border-bottom: 1px solid rgba(255, 255, 255, 0);
 border-radius: 30px;
 color: #fff;
 z-index: 1;
 font-weight: 400;
 letter-spacing: 1px;
 text-decoration: none;
 overflow: hidden;
 transition: 0.5s;
 backdrop-filter: blur(15px);
}

.container-btn .btn-glass:hover a {
  letter-spacing: 3px;
}

.container-btn .btn-glass a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(251, 255, 3, 0), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.container-btn .btn-glass:hover a::before {
  transform: skewX(45deg) translateX(200%); 
}

.container-btn .btn-glass::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background:  #f00;
  border-radius: 10px;
  transition: 0.5s;
}

.container-btn .btn-glass:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.container-btn .btn-glass::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background:  #f00;
  border-radius: 10px;
  transition: 0.5s;
}

.container-btn .btn-glass:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.container-btn .btn-glass:nth-child(1)::before,
.container-btn .btn-glass:nth-child(1)::after {
  background: #ff1f71;
  box-shadow: 0 0 5px  #ff1f71,
  0 0 15px  #ff1f71,
  0 0 30px  #ff1f71,
  0 0 60px  #ff1f71;
}



.container-btn .btn-glass:nth-child(2)::before,
.container-btn .btn-glass:nth-child(2)::after {
  background: #ff1f71;
  box-shadow: 0 0 5px  #ff1f71,
  0 0 15px  #ff1f71,
  0 0 30px  #ff1f71,
  0 0 60px  #ff1f71;
}

.container-btn .btn-glass:nth-child(2)::before,
.container-btn .btn-glass:nth-child(2)::after {
  background: #ff1f71;
  box-shadow: 0 0 5px  #ff1f71,
  0 0 15px  #ff1f71,
  0 0 30px  #ff1f71,
  0 0 60px  #ff1f71;
}

*/


a:hover, a:active, a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background:  #d0ff01;
  color: #000000;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #000000;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.flickering-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Altura de la línea */
  background-color: yellow;
  animation: flicker 10s infinite;
  z-index: 9999; /* Para sobreponerse a otros elementos */
}

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  5%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

  #particles-js {
   
    z-index: -1; /* Coloca las partículas detrás de otros elementos */
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

.carousel-content {
  text-align: center;
  position: relative;
}

.carousel-content img[src="img/intro-carousel/SID.png"] {
  max-width: 65%;
  display: block;
  margin: 0 auto;
  padding: 1.2%;
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  animation: float 3s ease-in-out infinite, scaleIn 0.8s forwards;
  transform-origin: center bottom;
  transform: scale(0);
  opacity: 0;
}

.carousel-content2 img[src="img/intro-carousel/SID.png"] {
  max-width: 75%;
  display: block;
  margin: 0 auto;
  padding: 0%;
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  animation: float 3s ease-in-out infinite, scaleIn 0.8s forwards;
  transform-origin: center bottom;
  transform: scale(0);
  opacity: 0;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
    padding-top: 50%;
  }
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (max-width: 768px) {
  #intro p {
    font-size: 100px; /* Tamaño de fuente más grande en pantallas pequeñas */
  }
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 15px;
  padding-right: 40px;
  transition: 0.2s;
  margin: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.398);
  border-radius: 15px;
  animation: scaleInCenter 1s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Animación de aparición */
  position: relative; /* Añade posición relativa para el pseudo-elemento */
}

#intro .btn-get-started:hover {
  background: #000000f6;
  color:#ffff00;
}

#intro .btn-get-started .arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 22px;
  animation: arrowBlink 1s infinite alternate; /* Animación de brillo */
  color: rgb(242, 255, 0);
}

/* Animación de aparición desde el centro */
@keyframes scaleInCenter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animación de brillo de la flecha */
@keyframes arrowBlink {
  from {
    opacity: 0.5;
    text-shadow: 0 0 5px rgba(0, 51, 255, 0.8);
  }
  to {
    opacity: 1;
    text-shadow: 0 0 10px rgb(68, 255, 0);
  }
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas */
  .carousel-content img[src="img/intro-carousel/SID.png"] {
    margin-top: 65%;
    max-width: 100%; /* Ancho máximo de la imagen en dispositivos pequeños */
  }
  
  #intro .carousel-container {
    position: static;
  }
  
  #intro .carousel-content {
    padding: 20px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  animation: fadeInDown 1s ease-in-out; /* Animación al aparecer */
}

/* Animación al aparecer */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
  margin: 0 10px; /* Espaciado entre los elementos de la lista */
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

.nav-menu a:hover {
  color: #09ff19;
  transform: scale(1.2);
}

/* Nav Menu Styling */
.nav-menu a {
  padding: 8px 12px;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
  position: relative;
  overflow: hidden;
}

.nav-menu a::before,
.nav-menu a::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.nav-menu a::before {
  top: 0;
  left: -10px;
}

.nav-menu a::after {
  bottom: 0;
  right: -10px;
}

.nav-menu a:hover::before,
.nav-menu a:hover::after {
  width: calc(100% + 20px);
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #d0ff01;
  transform: scale(1.2);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #18d26e;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas (como dispositivos móviles) */
  .nav-menu {
    display: none; /* Ocultar la barra de navegación en pantallas pequeñas */
  }

  #mobile-nav-toggle {
    display: inline; /* Mostrar el botón de menú en pantallas pequeñas */
  }

}


/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #18d26e;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #18d26e;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: #d0ff01;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #d0ff01;;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header2 h3 {
  font-size: 24px;
  color: #d0ff01;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}

.section-header2 h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header2 h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #d0ff01;;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 0px;
  color: #ffffff;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}

/* Featured Services Section
--------------------------------*/
#featured-services {
  background: rgb(35,31,54);
  background: linear-gradient(0deg, rgba(35,31,54,1) 0%, rgba(28,56,93,1) 100%);
}

#featured-services .box {
  padding: 30px 20px;
  background: rgb(35,31,54);
background: linear-gradient(0deg, rgba(35,31,54,1) 0%, rgba(28,56,93,1) 100%);
}

#featured-services .box-bg {
  background: rgb(35,31,54);
background: linear-gradient(0deg, rgba(35,31,54,1) 0%, rgba(28,56,93,1) 100%);
}

#featured-services i {
  color: #18d26e;
  font-size: 48px;
  display: inline-block;
  line-height: 1;
}

#featured-services h4 {
  font-weight: 900;
  margin: 15px 0;
  font-size: 21px;
}

#featured-services h4 a {
  color: #00ff84;
}

#featured-services h4 a:hover {
  color: #05f3ff;
}

#featured-services p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

/* About Us Section
--------------------------------*/
#about {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}

#about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 17, 40, 0.864);
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #000000c5;
  border-radius: 25px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
  border-radius: 23px;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #d0ff01;;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 40px;
  line-height: 1;
  color: #000000;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #000000;
}

#about .about-col:hover i {
  color: #ffffff;
}

#about .about-col h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#about .about-col h2 a {
  color: #ffffff;
}

#about .about-col h2 a:hover {
  color: #18d26e;
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/* Services Section
--------------------------------*/
#services {
  background: black;
  background-size: cover;
  padding: 60px 0 40px 0;
  color: white;
}

#services .box {
  margin-bottom: 30px;
}

#services .icon {
  float: left;
}

#services .icon i {
  color: #18d26e;
  font-size: 36px;
  line-height: 1;
  transition: 0.5s;
}

#services .title {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: white;
}

#services .box:hover .title a {
  color: #18d26e;
}

#services .description {
  font-size: 14px;
  margin-left: 60px;
  line-height: 24px;
  margin-bottom: 0;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(2, 12, 33, 0.704), rgba(1, 0, 10, 0.763)), url(../img/carousel.jpeg) fixed center center;
  background-size: cover;
  padding: 50px 0;
}

#call-to-action2 {
  background: linear-gradient(rgba(1, 0, 36, 0.856), rgba(1, 8, 40, 0.81)), url(../img/carousel2.jpg) fixed center center;
  background-size: cover;
  padding: 50px 0;
}

#call-to-action h3 {
  color: #d0ff01;
  font-size: 34px;
  font-weight: 700;
  padding-bottom: 0px;
}

#call-to-action p {
  color: #ffffff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #18d26e;
  border: 2px solid #18d26e;
}

/* Call To Action Section
--------------------------------*/
#skills {
  padding: 2%;
  display: flex;
  padding-left: 0%;
  padding-right: 0%;
  flex-direction: column; /* Alinear elementos verticalmente */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
}

#skills .progress {
  height: auto; /* Ajustar según tus necesidades */
  margin-bottom: 10px;
  background: rgb(12,9,225);
  background: linear-gradient(90deg, rgba(12,9,225,0.3169642857142857) 0%, rgba(29,176,253,0.3169642857142857) 50%, rgba(4,0,255,0.3309698879551821) 100%);
  width: 99%; /* Para que ocupe el ancho completo */
  max-width: 600px; /* Limitar el ancho máximo */
  display: flex; /* Para alinear los elementos horizontalmente */
  align-items: center;
  justify-content: space-between; /* Distribución equitativa */
}

#skills .progress .skill {
  font-family: "Open Sans", sans-serif;
  font-size: 13.5px;
  line-height: 35px;
  padding: 8px 0px; /* Ajustar según tus necesidades */
  margin: 0 10px; /* Ajustar según tus necesidades */
  text-transform: uppercase;
  background: rgba(35, 31, 54, 0);
  text-align: center;
  flex: 1; /* Ocupar el espacio disponible */
}

#skills .progress .skill .val {
  font-style: normal;
  margin-right: 10px; /* Ajustar según tus necesidades */
  background-color: #00000000;
}

#skills .progress-bar {
  width: 0; /* Comienza con un ancho de cero */
  transition: width 0.9s; /* Animación para el ancho */
  background-color: #00000000;
  font-size: 12px;
  font-weight: 550;
}


/* Facts Section
--------------------------------*/
#facts {
  background: url("../img/facts-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 0 0;
  position: relative;
}

#facts::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 9;
}

#facts .container {
  position: relative;
  z-index: 10;
}

#facts .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #18d26e;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #111;
}

#facts .facts-img {
  text-align: center;
  padding-top: 30px;
}


/* Clients Section
--------------------------------*/
#clients {
  padding: 45px 0;
  background: linear-gradient(to right, #260404,  #000625);
 
}

#clients h3 {
  color: #d0ff01;
}

#clients img {
  max-width: 100%;
  opacity: 1;
  transition: 0.1s;
 
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #0026ff;
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 20px 0;
  padding-bottom: 20px;
  background: linear-gradient(to right, #000625, #220101);
}

#testimonials2 {
  padding: 2.5px 0;
  padding-bottom: 0;
  background: yellowgreen;
  animation: arrowBlink 2s infinite alternate; /* Animación de brillo */
  z-index: 9999; /* Para sobreponerse a otros elementos */
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item {
  text-align: center;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #ffffff00;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #d0ff01;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #005cfb;
}


/* Contact Section
--------------------------------*/
#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #18d26e;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #18d26e;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .form #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13a456;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/*=========================================================
	11 -> FOOTER
===========================================================*/

#footer {
  background: #000000;
  color: #B9BABC;
}

#bottom-footer {
  background: linear-gradient(to right, #363e00, #000000);
}

.footer {
  margin: 25px 0px;
  margin-bottom: 25px;
}

.footer .footer-title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin: 0px 0px 15px;
  text-align: center;
}

.footer-links {
  text-align: center;
  padding: 0;
}

.footer-links li {
  list-style-type: none;
  margin-top: 5px;
}

.footer-links li a {
  color: #f9f9f9;
  font-size: 15px;
  font-weight: 400;
}

.footer-links li i {
  margin-right: 12px;
  color: #d0ff01;
  width: 14px;
}


.footer-links li a:hover {
  color:  #d0ff01;
}

.copyright {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-weight: 900;
  font-size: 12px;
  color: rgb(255, 255, 255);
}


/*=========================================================
	10 -> Yellow Line
===========================================================*/

#newsletter.section {
  border-top: 0px solid #00010300;
  border-bottom: 5px solid  #d0ff01;
  margin-top: 0px;
}

/*=========================================================
	10 -> Form
===========================================================*/

.contact-box {
  position: relative;
  width: 370px;
  height: 445px;
  background: #000000;
  border-radius: 20px;
  overflow: hidden;
}

.contact-box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg,transparent,#ff45450a,#ff454500);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.contact-box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg,transparent, #002aff, #ff0101);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contact-box form {
  position: absolute;
  inset: 2px;
  border-radius: 25px;
  background: #000000;
  z-index: 10;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}


.contact-box .inputbox {
  position: relative;
  width: 101%;
  margin-top: 21px;
}

.contact-box .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.contact-box input[type="submit"] {
  width: 100%;
  font-size: 17px;
  border: none;
  outline: none;
  background: linear-gradient(to right, #01136d, #640202);
  color: white;
  margin-top: 40px;
  border-radius: 90px;
  font-weight: 500;
  cursor: pointer;
}

.contact-box input[type="submit"]:active {
  background: linear-gradient(90deg,to right, #011fb8, #8f0000);
  opacity: 0.8;
}

.contact-box span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #ffffff;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
  font-weight: 500;
}

.contact-box .inputbox input:valid ~ span,
.contact-box .inputbox input:focus ~ span {
  color:  #d0ff01;
  transform: translateX(-10px) translateY(-30px);
  font-size: 0.9em;
}

.contact-box .inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #01136d, #640202);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.contact-box .inputbox input:valid ~ i,
.contact-box .inputbox input:focus ~ i {
  height: 44px;
}



